:host {
  display: block;

  min-height: 100vh;
}


/* RESET LOCAL */

* {
  box-sizing: border-box;
}

button,
input,
textarea,
select {
  font-family: inherit;
}


/* SCROLLBAR */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f7f7f7;
}

::-webkit-scrollbar-thumb {
  background: #ddd;

  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffb080;
}